@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-roboto antialiased bg-background text-foreground;
  }
}

@layer components {
  .break-points {
    @apply px-6 md:px-6 xl:px-32 2xl:px-56 mx-auto;
  }
  .pricing-width {
    @apply w-[390px] md:w-[500px]
  }
  .scroll-height {
    @apply h-[600px];
  }
  .logo-fade {
    @apply [mask-image:linear-gradient(to_right,transparent,black,transparent)];
  }
  .logo-fade {
    @apply [mask-image:linear-gradient(to_right,transparent,black,transparent)];
  }
  .crousel-fade {
    @apply [mask-image:linear-gradient(to_right,transparent,bg-green-200,transparent)];
  }
  .gridLines {
    @apply inset-0 bg-[linear-gradient(to_right,#FFFFFF1A_1px,transparent_1px),linear-gradient(to_bottom,#FFFFFF1A_1px,transparent_1px)] bg-[size:24px_24px];
  }
  .section-title {
    @apply font-medium text-3xl lg:text-5xl  tracking-tight text-center px-2 xl:px-64 ;
  }
  .section-description {
    @apply text-gray-500 text-lg mt-6 text-center;
  }
  .event-image {
    @apply w-[320px] h-[320px] md:w-[425px] md:h-[425px] lg:w-[500px] lg:h-[500px] object-cover rounded-lg;
  }
}
